
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Black&display=swap">
    <link rel="stylesheet" href="~/css/StyleHome.css">
</head>
<body>
    <div class="imagen-con-texto">
        <img src="~/Imagenes/Welcome.png" alt="Imagen">
        <div class="texto-superpuesto">
            BIENVENIDO A IMEI SCHOOL
        </div>
    </div>
    <div class="separador"></div>
        <br>

        <p class="intro">OBJETIVO:</p>
        <p>Desarrollamos una plataforma integral para mejorar el seguimiento y aprendizaje de estudiantes.</p>
        <p>Abordamos la falta de organización administrativa mediante el monitoreo del progreso académico</p>
        <p>y la gestión de disponibilidad de docentes. Desde modelos de negocio hasta un prototipo visual en Figma y Balsamic,</p>
        <p> buscamos ofrecer una solución eficiente para la gestión educativa completa.</p>
    <br>
    <p class="intro">OFRECEMOS:</p>
    <div class="text-center">
        <div class="feature">
            <i class="fas fa-chart-line fa-2x" style="color: #ffeba7;"></i>
            <p>Monitoreo</p>
        </div>
        <div class="feature">
            <i class="fas fa-chalkboard-teacher fa-2x" style="color: #ffeba7;"></i>
            <p>Gestión</p>
        </div>
        <div class="feature">
            <i class="fas fa-desktop fa-2x" style="color: #ffeba7;"></i>
            <p>Interfaz intuitiva y amigable</p>
        </div>
    </div>


</body>
</html>
