@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>El presente trabajo fue elaborado para proporcionar una solución práctica y sencilla para mejorar el seguimiento <br />
        y el aprendizaje de los estudiantes en un entorno escolar. Hoy sabemos que hay mucha desorganización por parte <br />
        de la administración a la hora de realizar un análisis detallado de los estudiantes registrados. Ante esta problemática<br />
        , decidimos crear una plataforma de control, la cual nos permitirá monitorear el avance educativo que presenta la <br />
        juventud escolar frente a las evaluaciones planteadas en la institución educativa junto al control de disponibilidad de <br />
        los docentes registrados con el curso anclado. Iniciando el modelado del negocio, desarrollando el modelo de caso de uso <br />
        del negocio y el modelo de análisis del negocio. Implementando la toma de requerimientos para identificar las necesidades<br />
        de los estudiantes. A su vez el modelo de casos de uso del sistema y el modelo de análisis del sistema de nuestro gestor de<br />
        monitoreo de estudiantes. El argumento final de este proyecto consiste en la implementación de los documentos previamente<br />
        mencionados para el desarrollo funcional de un prototipo de interfaz desarrollada en la plataforma figma y balsamic, permitiendo<br />
        crear un prototipo visual del sistema para organizar y proporcionar la información registrada. Asimismo, el sistema deberá poder <br />
        conectar todas las interfaces relacionadas a las descripciones previamente mencionadas.
    </p>
</div>
